<html>
  <head>
    <meta charset="utf-8">
    <title>Cr&eacute;ditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>Créditos del autor:</h1>
<h3>Proyecto desarrollado por <b>Roberto Herrera</b></h3>
  </body>
</html>