<html>
  <head>
    <meta charset="utf-8">
    <title>Dedicatoria a María C.</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<h1>Dedicado a María </h1>
<p>En relación con la valoración de la práctica del Módulo 6, realizada por María C. el 15/07/2015 16:54</p>
<p>Como el resto de alumnos, he tenido que buscar por los foros y probar muchas opciones para conseguir que funcionaran correctamente los ejercicios propuestos.</p>
<p>En tu comentario parece que no tienes criterio suficiente para juzgar lo que lleva horas conseguir y lo que se hace en unos minutos.</p>
<p>Por eso, he tardado unas dos horas en conseguir que funcionara la base de datos Sqlite de la práctica 7 y dedico 10 minutos a poner los créditos, un simple enlace y a esta dedicatoria.</p>
  </body>
</html>